html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}


body {
  background-color: gainsboro;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  line-height: 1.6;
}
:root {
  --primary-color: #27272e;
  --secondary-color: #425466;
  --grey-color: #E4ECF7;
  --accent-color: #4c6fff;
  --white-color: #fff;
  --border-radius-s: 8px;
  --border-radius-m: 16px;
  --box-shadow-light: 0px 3px 8px -1px rgba(50, 50, 71, 0.05),
    0px 0px 1px 0px rgba(12, 26, 75, 0.24);
  --box-shadow-medium: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --space-xs: 8px;
  --space-s: 16px;
  --space-m: 24px;
  --space-l: 32px;
  --space-xl: 40px;
}

main {
  padding: 10px 20px;
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.bg-accent {
  background-color: var(--accent-color);
}
.bg-grey {
  background-color: var(--grey-color);
}

.box-shadow-medium {
  box-shadow: var(--box-shadow-medium);
}

.text-primary {
  color: var(--primary-color);
} 
.text-secondary {
  color: var(--secondary-color);
} 
.text-accent {
  color: var(--accent-color);
} 
.text-white {
  color: var(--white-color);
} 

.text-xs {
  font-size: 12px;
}
.text-s {
  font-size: 14px;
}
.text-m {
  font-size: 16px;
}

.normal {
  font-weight: 400;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--space-s);
  padding: var(--space-xs);
  background: var(--white-color);
  box-shadow: var(--box-shadow-light);
  border-radius: var(--border-radius-m);
  width: 100%;
  max-width: 350px;
}
.card__header{
  width: 100%;
}
.card__header_img img {
  width: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  width: 100%;
  margin-bottom: var(--space-m);
}

.card__content-header {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--space-s);
}
.card__content-detail {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--space-s);
}
.card__content-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--space-s);
}
.card__content-list__options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--space-s);
}
.card__content-list_option {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 2px var(--space-xs);
  line-height: 1;
}