/* 
----------------------------------------
HOMEPAGE
----------------------------------------
*/

// Hero
.hero {
  background-image: url("/loja/assets/bed_home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

@media (max-width: 768px) {
  .hero__content {
    justify-content: flex-end;
  }
}

// CTA
.cta {
  background-image: url("/loja/assets/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  height: 70vh;
}
.cta__content {
  max-width: 30rem;
  @media (max-width: 768px) {
    .cta__content {
      max-width: 100%;
    }
  }
}
.cta__title {
  text-transform: uppercase;
  font-style: italic;
  text-decoration: underline;
  letter-spacing: 0.5rem;
}
.cta__subtitle {
  font-style: italic;
  line-height: 1.8;
  &--bold {
    font-weight: $font-w700;
  }
}

//Video
.video-cta__video {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  @media (max-width: 768px) {
    padding: 0 $space-xs;
    height: auto;
  }
}
