@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/*
Typography
*/
body {
  font-family: 'Hanken Grotesk', sans-serif;
}
@each $key, $val in $font {
  .text-#{$key} {
    font-size: $val;
  }
}

@each $key, $val in $weight {
  .text-#{$key} {
    font-weight: $val;
  }
}

@media (max-width: 768px) {
  @each $key, $val in $font-mobile {
    .text-#{$key} {
      font-size: $val;
    }
  }
}

.line-height-s {
  line-height: 1.3;
}
.line-height-d {
  line-height: 1;
}

.text-al-center{
  text-align: center;
}
.text-al-left{
  text-align: left;
}
.text-al-right{
  text-align: right;
}
